@model SpeedThruLibrary.Truck

@{
    ViewData["Title"] = "Edit Truck";
    ViewData["Action"] = "Edit";
}


<h4>Truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_editTruck", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

